# Ambiente virtual
venv/
.env

# Arquivos do Python
__pycache__/
*.pyc

# Arquivos do Django
db.sqlite3

# Configurações do VS Code
.vscode/

# Arquivos temporários
*.log

# Arquivos de upload (imagens, documentos)
media/
