{% extends 'core/base.html' %}
{% load static %}

{% block title %}WorkConnect | Candidaturas{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'candidato/css/candidaturas_candidato.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>

  <header class="navbar">
    <div class="container">
      <img src="{% static 'core/img/LogoTemplate.png' %}" alt="WorkConnect" class="logo">
      <nav>
        <a href="#">Plataforma</a>
        <a href="#">Serviços</a>
        <a href="#">Suporte</a>
      </nav>
      <div class="user-icon">
        <i class="fa-solid fa-circle-user"></i>
      </div>
    </div>
  </header>

  <section class="filter-section">
  <h2 class="filter-title">Filtros</h2>

  <form method="get" class="search-bar">
    <input
      type="text"
      name="cargo"
      placeholder="Cargo"
      class="input-job"
      value="{{ request.GET.cargo }}"
    >

    <input
      type="text"
      name="empresa"
      placeholder="Empresa"
      class="input-location"
      value="{{ request.GET.empresa }}"
    >

    <input
      type="text"
      name="cidade"
      placeholder="Cidade"
      class="input-location"
      value="{{ request.GET.cidade }}"
    >

    <button type="submit">Buscar</button>
  </form>
</section>

  <div class="search-bar">
          <input type="text" placeholder="Cargo" class="input-job">
          <input type="text" placeholder="Empresa" class="input-location">
          <input type="text" placeholder="Cidade" class="input-location">
          <button>Buscar Vaga</button>
        </div>
      </div>
  
<section class="vagas-section">
  <h2 class="candidaturas-title">Suas Candidaturas:</h2>

  <div class="cards-container">

    {% for candidatura in candidaturas %}
      <div class="vaga-card-wrapper">
        {% include 'core/card_vaga.html' with vaga=candidatura.vaga modo="candidato" %}
      </div>
    {% empty %}
      <p>Você ainda não se candidatou a nenhuma vaga.</p>
    {% endfor %}

  </div>
</section>



</body>
</html>
{% endblock %}