{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'candidato/css/inscricao.css' %}">

<div class="container">

    <header class="top-banner">
        <div class="text">
            <h1>Inscrição de Candidato</h1>
            <p>Está pronto para dar o próximo passo na sua carreira? Complete suas informações e envie sua candidatura.</p>
        </div>
        <img src="{% static 'core/img/curriculo 1.png' %}" class="perfil-foto">
    </header>

    <div class="card">
        <h2>Vamos lá!</h2>

        <form class="form"
              method="POST"
              action="{% url 'candidato:inscricao' vaga.id %}"
              enctype="multipart/form-data">

            {% csrf_token %}

            <label>Nome</label>
            <input type="text" name="nome" value="{{ request.user.candidato.nome }}" required>

            <label>E-mail</label>
            <input type="email" name="email" value="{{ request.user.email }}" required>

            <label>Telefone</label>
            <input type="text" name="telefone" placeholder="(99) 99999-9999">

            <label>CPF</label>
            <input type="text" name="cpf" value="{{ request.user.candidato.cpf }}" required>

            <label>Currículo</label>
            <input type="file" name="curriculo" accept=".pdf,.doc,.docx,.txt,.rtf">

            <div class="checks">
                <label>
                    <input type="checkbox" required>
                    Eu aceito os <a href="#">Termos de Uso</a>
                </label>

                <label>
                    <input type="checkbox" required>
                    Eu aceito a <a href="#">Política de Privacidade</a>
                </label>
            </div>

            <button type="submit" class="btn">Inscrever-se</button>

        </form>
    </div>

</div>

{% endblock %}
