{% extends 'core/base.html' %}
{% load static %}

{% block title %}WorkConnect | Candidaturas{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'candidato/css/vagas_candidato.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>

  <header class="navbar">
    <div class="container">
      <img src="{% static 'core/img/LogoTemplate.png' %}" alt="WorkConnect" class="logo">
      <nav>
        <a href="#">Plataforma</a>
        <a href="#">Serviços</a>
        <a href="#">Suporte</a>
      </nav>
      <div class="user-icon">
        <i class="fa-solid fa-circle-user"></i>
      </div>
    </div>
  </header>

  <section class="filter-section">
  <h2 class="filter-title">Filtros</h2>

  <div class="search-bar">
          <input type="text" placeholder="Cargo, Empresas..." class="input-job">
          <input type="text" placeholder="Cidade" class="input-location">
          <input type="text" placeholder="Modo de trabalho" class="input-location">
          <button>Buscar Vaga</button>
        </div>
      </div>
  
<section class="vagas-section">
  <h2 class="candidaturas-title">Vagas Encontradas:</h2>

  <div class="cards-container">
      {% for vaga in vagas%}
  {% include 'core/card_vaga.html' with vaga=vaga modo="candidato" %}
    {%empty%}
    <p>Nenhuma vaga publicada ainda.</p>
    {%endfor%}
</div>
</section>


</body>
</html>
{% endblock %}