{% extends 'core/base_empresa.html' %}
{% load static %}

{% block title %}WorkConnect | Vagas{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'core/css/cadastrar_emprego.css' %}">
<title>WorkConnect - Cadastra Vaga</title>



<div class="main-content">

    <section class="top-banner">
        <div class="banner-text">
            <h2>Cadastre sua oferta de vaga aqui!</h2>
            <p>Descreva a seguir as informações sobre a vaga que deseja ofertar</p>
        </div>
        <div class="banner-img">
            <img src="{% static 'core/img/banner-img.png' %}" alt="img-banner">
        </div>
    </section>

    <section class="form-container">
        <h3 class="title">Vamos lá!</h3>

        <div class="tabs">
            <button class="tab active">Emprego</button>
            <button class="tab-other">Estágio</button>
        </div>

        <form class="job-form">

            <div class="form-row">
                <div class="form-group">
                    <label for="titulo">Titulo da vaga*</label>
                    <input type="text" id="titulo" placeholder="Ex: Vendedor">
                </div>

                <div class="form-group">
                    <label>Quantidade de vagas</label>
                    <input type="number" id="quantidade" min="0" placeholder="0">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group largura_total">
                    <label for="Requisitos">Requisitos e qualificações*</label>
                    <textarea id="Requisitos" placeholder="Click 'Enter' a cada requisito"></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label>Modelo de Trabalho</label>
                    <select id="modelo">
                        <option value="">Selecione</option>
                        <option>Presencial</option>
                        <option>Híbrido</option>
                        <option>Remoto</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Faixa Salarial</label>
                    <input type="text" id="salario" placeholder="R$ 0,00">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label>Tipo de contrato</label>
                    <select id="contrato">
                        <option>Selecione</option>
                        <option>CLT</option>
                        <option>PJ</option>
                        <option>Temporário</option>
                        <option>Freelance</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Jornada de Trabalho</label>
                    <input type="text" id="jornada" placeholder="Ex: 8h diárias">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label>Benefícios</label>
                    <div class="check-box">
                        <label>
                            <input type="checkbox" value="vale_refeicao"> Vale-refeição 
                        </label>
                        <label>
                            <input type="checkbox" value="plano_saude"> Plano de Saúde
                        </label>
                        <label>
                            <input type="checkbox" value="vale_transporte"> Vale-transporte
                        </label>
                        <label>
                            <input type="checkbox" value="outros"> Outros
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Diferencial (Não obrigatório)</label>
                    <input type="text" id="Diferencial">
                </div>
            </div>

            <div class="form-group full-width">
                <label>Descrição</label>
                <textarea id="descricao"></textarea>
            </div>

            <div class="button">
                <button type="submit">Cadastrar</button>
            </div>

        </form>
    </section>

</div>

{% endblock %}
