{% extends 'core/base_empresa.html' %}
{% load static %}

{% block title %}WorkConnect | Editar Vaga{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'empresa/css/cadastrar_emprego.css' %}">

<div class="main-content">

    <section class="top-banner">
        <div class="banner-text">
            <h2>Editar vaga</h2>
            <p>Atualize as informações da vaga</p>
        </div>
        <div class="banner-img">
            <img src="{% static 'core/img/banner-img.png' %}" alt="img-banner">
        </div>
    </section>

    <section class="form-container">
        <h3 class="title">Vamos lá!</h3>

        <form method="post" action="{% url 'empresa:editar_vaga' vaga.id %}" class="job-form">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group">
                    <label>Título da vaga*</label>
                    <input type="text" name="titulo" value="{{ vaga.titulo }}">
                </div>

                <div class="form-group">
                    <label>Quantidade de vagas</label>
                    <input type="number" name="quantidade" value="{{ vaga.quantidade }}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group largura_total">
                    <label>Requisitos e qualificações*</label>
                    <textarea name="requisitos">{{ vaga.requisitos }}</textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label>Modelo de Trabalho</label>
                    <select name="modelo_trabalho">
                        <option value="presencial" {% if vaga.modelo_trabalho == 'presencial' %}selected{% endif %}>Presencial</option>
                        <option value="hibrido" {% if vaga.modelo_trabalho == 'hibrido' %}selected{% endif %}>Híbrido</option>
                        <option value="remoto" {% if vaga.modelo_trabalho == 'remoto' %}selected{% endif %}>Remoto</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Faixa Salarial</label>
                    <input type="number" step="0.01" name="faixa_salarial" value="{{ vaga.faixa_salarial }}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label>Tipo de contrato</label>
                    <select name="tipo_contrato">
                        <option value="clt" {% if vaga.tipo_contrato == 'clt' %}selected{% endif %}>CLT</option>
                        <option value="pj" {% if vaga.tipo_contrato == 'pj' %}selected{% endif %}>PJ</option>
                        <option value="temporario" {% if vaga.tipo_contrato == 'temporario' %}selected{% endif %}>Temporário</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Jornada de Trabalho</label>
                    <input type="text" name="jornada" value="{{ vaga.jornada }}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label>Benefícios</label>
                    <div class="check-box">
                        <label>
                            <input type="checkbox" name="vale_refeicao" {% if vaga.vale_refeicao %}checked{% endif %}>
                            Vale-refeição
                        </label>

                        <label>
                            <input type="checkbox" name="plano_saude" {% if vaga.plano_saude %}checked{% endif %}>
                            Plano de Saúde
                        </label>

                        <label>
                            <input type="checkbox" name="vale_transporte" {% if vaga.vale_transporte %}checked{% endif %}>
                            Vale-transporte
                        </label>

                        <label>
                            <input type="checkbox" name="outros_beneficios" {% if vaga.outros_beneficios %}checked{% endif %}>
                            Outros
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Diferencial</label>
                    <input type="text" name="diferencial" value="{{ vaga.diferencial }}">
                </div>
            </div>

            <div class="form-group full-width">
                <label>Descrição</label>
                <textarea name="descricao">{{ vaga.descricao }}</textarea>
            </div>

            <div class="button">
                <button type="submit">Salvar alterações</button>
            </div>

        </form>
    </section>

</div>

{% endblock %}
