{% extends 'core/base_empresa.html' %}
{% load static %}

{% block title %}WorkConnect | Vagas{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'empresa/css/editar_vaga.css' %}">
    <title>Descrição da vaga</title>
</head>
<body>

    <main class="main-content">
        <header class="top-bar">
            <div class="logo">
                <img src="{% static 'core/img/logoWorckConnect.png' %}" alt="WorkConnect Logo">
            </div>
            <nav class="nav-links">
                <a href="#">Plataforma</a>
                <a href="#">Serviços</a>
                <a href="#">Suporte</a>
            </nav>
        </header>
        <section class="top">
    
    <section class="detalhes-vaga">  
        <div class = "cabeçalho-vaga">
            <img src="{% static 'core/img/capa-perfil.png'%}" alt="capa-vaga" class="capa-perfil">
        </div>

        <div class="infos-vaga">
            <div class="logo-empresa">
                <img src="{% static 'core/img/perfil-empresa.png' %}" alt="perfil">
            </div>
            
            <div class="nome-empresa">
                <h2>Elétrica Cervejaria</h2>
                <p class="area-atuaçao">  <img src="{% static 'core/img/icone-area.png' %}" alt="" width="12px"> Restaurante</p>
            </div>
        </div>
        <div class="row"></div>
        <div class="resumo-vaga">
            <div class="itens-resumos">
                <img src="{% static 'core/img/sumary-money.png' %}" alt="" width="50px">
                <p>R$ 700 + 
                    <br> VR R$200</p>
                    <p class="titulos-resumo">Salário</p>
                    </div>
                    
                    <div class="itens-resumos">
                        <img src="{% static 'core/img/localization.png' %}" alt="" width="50px">
                        <p>R. Francisco de Castro, <br>
                            B. Jucá, Pau dos Ferros/RN</p>
                            <p class="titulos-resumo">Localização</p>
                        </div>
                        <div class="itens-resumos">
                            <img src="{% static 'core/img/time.png' %}" alt="" width="50px">
                            <p>Noturno <br> 4h</p>
                            <p class="titulos-resumo">Horário</p>
                    </div>
               </div>
          </section>
    </section>
    
    <section class="descrição-vaga">
        <div class="conteudo-geral">
        <div class="menu-aba">
            <button class="acao-aba">Descrição da vaga</button>
            <button class="outra-aba">Outros detalhes</button>
        </div>
        
        <div class="conteudo-aba">
            
            <h3><img src="{% static 'core/img/icone-descrição.png' %}" alt="" width="15px"> Freelance</h3>
            <p>Estamos a procura de um(a) barman para preparação de drinks <br> e idealizador(a) 
de novas criações para complemetnar nossos cardápios</p>

<h4>Requisitos da Vaga:</h4>
<ul>
    <li>Conhecimento Profundo de Bebidas</li>
    <li>Domínio das Técnicas de Coquetelaria</li>
                    <li>Preparo de Clássicos e Criação Própria</li>
                    <li>Gestão de Bar e Estoque</li>
                </ul>
                <h4>Diferencial (Não Obrigatório):</h4>
                <ul>
                    <li>Paixão pela Profissão</li>
                    <li>Iniciativa e Curiosidade</li>
                    <li>Trabalho em Equipe</li>
                </ul>
                </div>
        </div>

        <div class="button">
            <button type="button">Editar</button>
        </div>
    </section>
</main>
</body>
</html>

{% endblock %}