{% extends 'core/base_empresa.html' %}
{% load static %}

{% block title %}WorkConnect | Candidatos da Vaga{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'empresa/css/lista_candidatos.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

<main class="content">

  <section class="header-section">

  <!-- CARD DA VAGA -->
  <div class="vaga-card-wrapper">
      {% include 'core/card_vaga.html' with vaga=vaga modo="empresa" %}
  </div>

  <!-- PAINEL LATERAL -->
  <div class="painel-info">
    <h2>Total de Candidatos</h2>
    <p class="numero">{{ candidatos.count }}</p>

    <form method="get" class="search-bar">
      <input type="text" name="q" placeholder="Pesquise por nome" class="input-job">
      <button type="submit">Buscar</button>
    </form>
  </div>

</section>

  <!-- TABELA -->
  <section class="table-section">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Data da inscrição</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        {% for inscricao in candidatos %}
          <tr>
           <td class="td-user">
  {% if inscricao.candidato.foto_perfil %}
    <img 
      src="{{ inscricao.candidato.foto_perfil.url }}" 
      alt="Foto de {{ inscricao.candidato.nome }}"
      class="user-avatar"
    >
  {% else %}
    <img 
      src="{% static 'core/img/user-icon.png' %}" 
      alt="Usuário sem foto"
      class="user-avatar"
    >
  {% endif %}

  {{ inscricao.candidato.nome }}
</td>


            <td>{{ inscricao.candidato.usuario.email }}</td>

            <td>{{ inscricao.data_inscricao|date:"d/m/Y" }}</td>

            <td>
              <a href="{% url 'empresa:visualizar_curriculo' inscricao.id %}">
                <i class="fa-regular fa-eye"></i> Ver Currículo
              </a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4" style="text-align:center;">
              Nenhum candidato inscrito nesta vaga.
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

</main>
{% endblock %}
