{% extends 'core/base_empresa.html' %}
{% load static %}

{% block title %}WorkConnect | Início{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'empresa/css/tela_principal_empresa.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

<section class="hero">
  <div class="hero-content">
    <div class="text">
      <h1>Encontre o candidato ideal <br>para seu negócio</h1>
      <h2>Aqui estão as últimas atualizações de suas vagas.</h2>
    </div>
    <img src="{% static 'core/img/principal_emp.png' %}" alt="Pessoa trabalhando" class="hero-img">
  </div>
</section>

<section class="stats">
  <div class="stats-container">
    <div class="stat">
      <div class="icon"><i class="fa-solid fa-briefcase"></i></div>
      <p class="label">Suas vagas cadastradas</p>
      <p class="value">{{total_vagas}}</p>
    </div>
    <div class="stat">
      <div class="icon"><i class="fa-solid fa-file-circle-check"></i></div>
      <p class="label">Suas vagas ativas</p>
      <p class="value">{{total_ativas}}</p>
    </div>
    <div class="stat">
      <div class="icon"><i class="fa-solid fa-building"></i></div>
      <p class="label">Suas vagas arquivadas</p>
      <p class="value">{{total_arquivadas}}</p>
    </div>
  </div>
</section>

<div class="vagas-duplas">

  <!-- Vagas Ativas -->
  <section class="vagas-section" style="padding-top:20px; padding-bottom:0;">
    <h2 class="vagas-title" style="margin-bottom:0; padding-left:60px;">Suas Últimas vagas publicadas</h2>

    <div class="cards-container"
         style="display:flex; flex-wrap:wrap; justify-content:flex-start;
         gap:40px; padding:20px 60px 40px 60px; margin-top:0;">

         {% for vaga in vagas_ativas %}
<div class="card ativa">
  <div class="card-header">
    <div class="header-bg"></div>
    <img src="{% static 'core/img/Ellipse 14.png' %}" alt="Logo" class="logo-card">
  </div>

  <div class="card-body">
    <div class="card-header-top">
      <div>
        <h3 class="empresa">{{ vaga.empresa.razao_social }}</h3>
        <p class="local">Pau dos Ferros/RN</p>
      </div>

      {% if vaga.ativa %}
        <span class="status ativa">Ativa</span>
      {% else %}
        <span class="status arquivada">Arquivada</span>
      {% endif %}
    </div>

    <div class="vaga-info">
      <p class="label">🎯 Vaga</p>
      <p class="valor">{{ vaga.titulo }}</p>

      <p class="label">⏰ Turno e Horário</p>
      <p class="valor">{{ vaga.modelo_trabalho|capfirst }} - {{ vaga.jornada }}</p>
    </div>

    <a href="{% url 'empresa:detalhes_vaga' vaga.id %}">
      <button class="btn-desativar">
        Detalhes
      </button>
    </a>
  </div>
</div>

{% empty %}
<p>Nenhuma vaga ativa cadastrada.</p>
{% endfor %}


  </section>

  <!-- Vagas Desativadas -->
  <section class="vagas-section" style="padding-top:20px; padding-bottom:0;">
    <h2 class="vagas-title" style="margin-bottom:0; padding-left:60px;">Vagas Arquivadas</h2>

    <div class="cards-container"
         style="display:flex; flex-wrap:wrap; justify-content:flex-start;
         gap:40px; padding:20px 60px 40px 60px; margin-top:0;">
      
 
{% for vaga in vagas_arquivadas %}
<div class="card">
     <div class="card-header">
    <div class="header-bg"></div>
    <img src="{% static 'core/img/Ellipse 14.png' %}" alt="Logo" class="logo-card">
  </div>

  <div class="card-body">
    <div class="card-header-top">
      <div>
        <h3 class="empresa">{{ vaga.empresa.razao_social }}</h3>
        <p class="local">Pau dos Ferros/RN</p>
      </div>

      {% if vaga.ativa %}
        <span class="status ativa">Ativa</span>
      {% else %}
        <span class="status arquivada">Arquivada</span>
      {% endif %}
    </div>

    <div class="vaga-info">
      <p class="label">🎯 Vaga</p>
      <p class="valor">{{ vaga.titulo }}</p>

      <p class="label">⏰ Turno e Horário</p>
      <p class="valor">{{ vaga.modelo_trabalho|capfirst }} - {{ vaga.jornada }}</p>
    </div>

    <a href="{% url 'empresa:detalhes_vaga' vaga.id %}">
      <button class="btn-desativar">
        Detalhes
      </button>
    </a>
  </div>
</div>
{% empty %}
<p>Nenhuma vaga arquivada.</p>
{% endfor %}


  </section>

</div>

{% endblock %}
