{% extends 'core/base_empresa.html' %}
{% load static %}

{% block title %}WorkConnect | Vagas{% endblock %}

{% block content %}

  <link rel="stylesheet" href="{% static 'empresa/css/vagas.css' %}">
  
    
  <main class="cards-container">
    <h2 class="titulo">Vagas ativas</h2>

    <div class="cards-grid">
      {% for vaga in vagas_ativas %}
        {% include 'core/card_vaga.html' with vaga=vaga modo="empresa" %}
      {% empty %}
        <p>Nenhuma vaga ativa cadastrada.</p>
      {% endfor %}
      
      </div>
    <h2 class="titulo">Vagas arquivadas</h2>

        <div class="cards-grid">
  {% for vaga in vagas_arquivadas %}
        {% include 'core/card_vaga.html' with vaga=vaga modo="empresa" %}
      {% empty %}
        <p>Nenhuma vaga arquivada.</p>
      {% endfor %}
        </div>
  </main>
{% endblock %}