{% load static %}
<link rel="stylesheet" href="{% static 'core/css/card_vaga.css' %}">


{% if modo == 'empresa' %}
  <a href="{% url 'empresa:lista_candidatos' vaga.id %}" class="card-link">
{% elif modo == 'candidato' %}
  <a href="{% url 'candidato:detalhes_vaga' vaga.id %}" class="card-link">
{% endif %}

<div class="card {% if not vaga.ativa %}arquivada{% endif %}">
  <div class="card-header">
    <div class="header-bg"></div>

    {% if vaga.empresa.foto_perfil %}
      <img src="{{ vaga.empresa.foto_perfil.url }}" alt="Logo da empresa" class="logo-card">
    {% else %}
      <img src="{% static 'core/img/Ellipse 14.png' %}" alt="Logo padrão" class="logo-card">
    {% endif %}
  </div>

  <div class="card-body">
    <div class="card-header-top">
      <div>
        <h3 class="empresa">{{ vaga.empresa.razao_social }}</h3>
        <p class="local">Pau dos Ferros/RN</p>
      </div>

      {% if vaga.ativa %}
        <span class="status ativa">Ativa</span>
      {% else %}
        <span class="status arquivada">Arquivada</span>
      {% endif %}
    </div>

    {% if vaga.tipo == 'estagio' %}
      <span class="status estagio">Estágio</span>
    {% else %}
      <span class="status ativa">Emprego</span>
    {% endif %}

    <div class="vaga-info">
      <p class="label">🎯 Vaga</p>
      <p class="valor">{{ vaga.titulo }}</p>

      <p class="label">⏰ Turno e Horário</p>
      <p class="valor">{{ vaga.jornada }}</p>
    </div>

  </div>
  
    {% if modo == 'empresa' %}
    <div class="card-footer">
      {% if vaga.ativa %}
        <button class="btn-arquivar">Arquivar</button>
      {% else %}
        <button class="btn-detalhes">Detelhes</button>
      {% endif %}
    </div>
  {% endif %}

</div>
