{%load static%}
<link rel="stylesheet" href="{% static 'core/css/card_vaga.css' %}">

<div class="card {% if not vaga.ativa %}arquivada{% endif %}">
  <div class="card-header">
    <div class="header-bg"></div>
    <img src="{% static 'core/img/Ellipse 14.png' %}" class="logo-card">
  </div>

  <div class="card-body">
    <div class="card-header-top">
      <div>
        <h3 class="empresa">{{ vaga.empresa.razao_social }}</h3>
        <p class="local">Pau dos Ferros/RN</p>
      </div>

      {% if vaga.ativa %}
        <span class="status ativa">Ativa</span>
      {% else %}
        <span class="status arquivada">Arquivada</span>
      {% endif %}
    </div>

    {% if vaga.tipo == 'estagio' %}
      <span class="status estagio">Estágio</span>
    {% else %}
      <span class="status emprego">Emprego</span>
    {% endif %}

    <div class="vaga-info">
      <p class="label">🎯 Vaga</p>
      <p class="valor">{{ vaga.titulo }}</p>

      <p class="label">⏰ Turno e Horário</p>
      <p class="valor">{{ vaga.jornada }}</p>
    </div>
  </div>
      {% if modo == 'empresa' %}
        <button class="btn-desativar">Arquivar</button>
      </a>
    {% else %}
        <button class="btn-desativar">Ativar</button>
      </a>
    {% endif %}
</div>
