{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'administrador/css/moderar_vagas.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<main class="content">

<section class="table-section">
  <table>
    <thead>
      <tr>
        <th>Empresa</th>
        <th>Título da Vaga</th>
        <th>Data da publicação</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      {% for vaga in vagas %}
      <tr>
        <td>
          {% if vaga.empresa.foto %}
            <img src="{{ vaga.empresa.foto_perfil.url }}" alt="Empresa" class="empresa">
          {% else %}
            <img src="{% static 'core/img/user-icon.png' %}" alt="Empresa" class="empresa-foto">
          {% endif %}

          {{ vaga.empresa.razao_social }}

          <p class="empresa-detalhes">
            <i class="fa-solid fa-briefcase"></i> {{ vaga.get_tipo_display }} &nbsp;&nbsp;
            <i class="fa-solid fa-clock"></i> {{ vaga.jornada }} &nbsp;&nbsp;
            <i class="fa-solid fa-sack-dollar"></i>
            R$ {{ vaga.faixa_salarial }}
          </p>
        </td>

        <td>{{ vaga.titulo }}</td>

        <td>{{ vaga.criada_em|date:"d/m/Y" }}</td>

        <td class="acoes">
          <a href="{% url 'administrador:excluir_vaga' vaga.id %}"
             class="btn-excluir"
             onclick="return confirm('Tem certeza que deseja excluir esta vaga?')">
            Excluir
          </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" style="text-align:center;">
          Nenhuma vaga encontrada.
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

</main>
{% endblock %}
